<p>@ViewBag.name, спасибо за бронирование!</p>

<p>Вам на почту пришло сообщение с ссылкой для возможности просмотра и отмены бронирований.</p>

<p>В ближайшие 30 минут на ваш номер позвонит оператор для подтверждения бронирования.</p>