@model AmusementPark.Models.Service

<div>
    <h1>Добавление нового сервиса</h1>
    <div class="form-group">
        <form method="post" asp-action="CreateService" asp-controller="Staff">
            <p>
                <label asp-for="Name">Название</label>
                <input asp-for="Name" class="form-control" placeholder="Название сервиса" />
            </p>
            <p>
                <label asp-for="Description">Описание</label>
                <input asp-for="Description" class="form-control" placeholder="Описание сервиса" />
            </p>
                <button type="submit" class="form-control">Создать</button>
        </form>
    </div>
</div>